.wrapper {
  max-width: 800px;
  width: 100%;
  justify-self: center;
  align-items: center;
  padding: 100px 0;

  .back-wrapper {
    cursor: pointer;
    margin-bottom: 2rem;
    img {
      width: 10px;
    }
    .back-btn {
      font-weight: bold;
      color: #fff;
      margin-left: 0.5rem;
    }
  }

  .invoice-options {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    background: #1f213a;
    border-radius: 8px;
    margin-bottom: 2rem;
    .invoice-status {
      .status__title {
        color: #fff;
        font-size: 12px;
      }
      .status_type {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        margin-left: 1rem;
        font-size: 12px;
      }
    }
  }
  .invoice-details {
    padding: 2rem;
    background: #1f213a;
    border-radius: 8px;
  }
}
.btn {
  outline: none;
  border: none;
  background-color: rebeccapurple;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}
.edit {
  background-color: #252944;
}
.delete {
  background-color: #ec5556;
}
.mpaid {
  background-color: #7d5df4;
}
.paid {
  background-color: #203443;
  color: #33d69f;

  p::before {
    background-color: #33d69f;
  }
}
.pending {
  background-color: #352b33;
  color: #ff7f00;

  p::before {
    background-color: #ff7f00;
  }
}
.draft {
  background-color: #21243b;
  color: #dfe3fa;

  p::before {
    background-color: #dfe3fa;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 2rem;
}
.invoiceId {
  h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 10px;
  }
}
.address {
  font-size: 12px;
  text-align: right;

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.heading {
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.details {
  font-size: 10px;
  margin-bottom: 0.4rem;
  color: rgb(223, 227, 250);
}
.invoice__date {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
